.analysisContainer {
  margin-top: px-to-rem(50px);
}

.card {
margin-bottom: 20px;
  &-body {
    display: flex;
    flex-direction: column;
    align-items:stretch;
  }
}

// group icon and title
.analysisIcon {
  float:left;
  padding-right:px-to-rem(23px);
  + span {
    font-weight: 500;
    line-height: px-to-rem(40px);
    }
  }

// group description
  .card-text {
    flex-grow:1;
    border-top: 1px solid $line-color;
    clear:both;
    padding-top: 9px;
    margin-top: 6px;
    font-size: px-to-rem(14px);
    opacity: 0.8;
  }

  .btn-secondary {
    background-color: rgba(215,215,215,0.3);
    border:none;
    color: $button-grey;
    font-size: px-to-rem(13px);
    &:hover{
      background-color: $primary-color;
      color:$white-color;
    }
  }

  .clickMore {
    position:relative;
    height:40px;
  }

  .analysisNumber {
    position:absolute;
    right: 0;
    top:0;
    box-sizing: border-box;
    padding: 11px;
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(215,215,215,0.3);
    border-radius:5px;
    color:#000;
  }

  .analysisNumberHover {
    color:white;
  }

.btn-success {
  background-color: $button-green;
  border:none;
  padding:px-to-rem(11px) px-to-rem(36px);
  margin-top: px-to-rem(10px);
  margin-bottom:px-to-rem(60px);
  line-height: 23px;
  font-weight: 500;
}
