@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');
@import 'functions.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER SECTION
**********************************/

#header {
  display:flex;
  flex-direction:column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 501px; //50vh
	background: radial-gradient(circle, $secondary-color 0%, $primary-color 100%);
    .navbar-nav{
      a {
        padding-right: px-to-rem(16px);
      }
    }
    .container {
      margin-bottom: auto;
    }
}

/* NAVIGATION MENU
**********************************/

.logoFull {
  align-self: center;
  position:absolute;
}

.fa-map-marker-alt,
.fa-user,
.fa-comments {
  padding-right: px-to-rem(9px);
}

.navbar {
  padding-left:0;
  padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* SEARCH AREA
**************************************************/

.searchFieldContainer {
  @extend .logoFull;
  // margin-top: px-to-rem(150px);
  margin-top: 105px;
}

//search field size
.search {
  position:relative;
  height: px-to-rem(50px);
  // margin-top: 195px;
}



//disable radio buttons
input[name="searchFilter"] {
  display: none;
  &:checked + label {
    font-weight:bold;
    color:$primary-color;
    opacity: 1;
  }
  &+label {
    opacity: 0.5;
  }
}

.searchHelperClass {
  position: absolute;
  top:0;
  color:$primary-color;
  line-height: px-to-rem(53px);
  text-transform: uppercase;
  font-weight: 500;
    &:hover {
      cursor: pointer;
      color:$secondary-color;
    }
}

.analizeSearchFilter {
  @extend .searchHelperClass;
  right: px-to-rem(145px);
  &::after {
    content:" | ";
    color:$primary-color;
    padding-left: px-to-rem(3px);
  }
}

.laboratorijeSearchFilter {
  @extend .searchHelperClass;
  right: px-to-rem(25px);
  padding-left: px-to-rem(3px);
  opacity: 0.5;
}

/*LAB ANALYSIS GROUPS
*********************************************/

.analysisContainer {
  margin-top: px-to-rem(50px);
}

.card {
margin-bottom: 30px;
  &-body {
    display: flex;
    flex-direction: column;
    align-items:stretch;
  }
}

// group icon and title
.analysisIcon {
  float:left;
  padding-right:px-to-rem(23px);
  + span {
    font-weight: 500;
    min-height: 47px;
    // opacity: 0.8;
    line-height: px-to-rem(40px); //// TODO: da li je bolje da bude uz gornju ivicu uli na sredini proveriti
    }
  }

// group description
  .card-text {
    flex-grow:1;
    border-top: 1px solid $line-color;
    clear:both;
    padding-top: 9px;
    margin-top: 6px;
    font-size: px-to-rem(14px);
    opacity: 0.8;
  }

  .btn-secondary {
    background-color: rgba(215,215,215,0.3);
    border:none;
    color: $buton-secondary-color;
    font-size: px-to-rem(13px);
    &:hover{
      background-color: $primary-color;
      color:$white-color;
    }
  }

  .clickMore {
    position:relative;
    height:40px;
  }

  .analysisNumber {
    position:absolute;
    right: 0;
    top:0;
    box-sizing: border-box;
    padding: 11px;
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(215,215,215,0.3);
    border-radius:5px;
    color:#000;
  }

  .analysisNumberHover {
    color:white;
  }



@import 'media.scss';
