@import 'variables.scss';
@import 'functions.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-size: 16px;
}

a:hover,
a:focus,
a:active,
a:visited,
a:link{
    text-decoration: none;
}

/* HEADER SECTION
**********************************/

#header {
  display:flex;
  flex-direction:column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 501px;
	background: radial-gradient(circle, $secondary-color 0%, $primary-color 100%);
    .navbar-nav{
      a {
        padding-right: px-to-rem(16px);
      }
    }
    .container {
      margin-bottom: auto;
    }
}

#smallHeader {
  @extend #header;
  height: 210px;
  .container {
    // margin-bottom: 0;
  }
}

/* NAVIGATION MENU
**********************************/

.logoFull {
  align-self: center;
  position:absolute;
}

.fa-map-marker-alt,
.fa-user,
.fa-comments {
  padding-right: px-to-rem(9px);
}

.navbar-dark .navbar-nav .nav-link {
    color: $white-color;
}

.fixed-top-background {
  	background: radial-gradient(circle, $secondary-color 0%, $primary-color 100%);
    animation-name: navanimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes  navanimation {
  0% {opacity: 0.1;}
  50% {opacity: 0.5;}
  100% {opacity: 0.9;}
}

.fixed-right {
  position:sticky;
  // width: inherit;
  animation-name: sideBarAnimation;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes sideBarAnimation {
  0% {top: 5px;}
  25% {top: 10px;}
  50% {top: 15px;}
  100% {top: 20px;}
}

.sidebar {
  position: relative;

}

/* SEARCH AREA
**************************************************/

.searchFieldContainer {
  @extend .logoFull;
  margin-top: px-to-rem(147px); // put to 155 when button is inserted
}

.searchFieldContainerInner {
  @extend .logoFull;
  margin-top: px-to-rem(105px); // put to 155 when button is inserted
}

//search field size
.search {
  position:relative;
  height: px-to-rem(50px);
}

.searchInner {
  position:relative;
  top: 55px;
  left:0;
  height: px-to-rem(50px);
}

.fa-play-circle {
  font-size: 38px;
  color:white;
  position: absolute;
  top:6px;
  left: 214px;
}

.btn-outline-warning {
  color:$white-color;
  border-color:$white-color;
  font-size: px-to-rem(22px);
  padding-right: 64px;
  &:active {
    color:$white-color;
    border-color:$white-color;
    border:1px solid $button-green !important;
    background-color: $button-green !important;
  }
  &:focus {
    color:$white-color !important;
    box-shadow: rgba(85,209,89,0.4) 0px 0px 0px 0px !important;
  }

  &:hover {
    color:$white-color;
    background-color: $button-green;
    border-color:$button-green;
  }
}

.labCubeDemoBtn {
  margin-top: 34px;
  position:relative;
}

//disable radio buttons
input[name="searchFilter"] {
  display: none;
  &:checked + label {
    font-weight:bold;
    color:$primary-color;
    opacity: 1;
  }
  &+label {
    opacity: 0.5;
  }
}

.searchHelperClass {
  position: absolute;
  top:0;
  color:$primary-color;
  line-height: px-to-rem(53px);
  text-transform: uppercase;
  font-weight: 500;
    &:hover {
      cursor: pointer;
      color:$secondary-color;
    }
}

.analizeSearchFilter {
  @extend .searchHelperClass;
  right: px-to-rem(145px);
  &::after {
    content:" | ";
    color:$primary-color;
    padding-left: px-to-rem(3px);
  }
}

.laboratorijeSearchFilter {
  @extend .searchHelperClass;
  right: px-to-rem(25px);
  padding-left: px-to-rem(3px);
  opacity: 0.5;
}




/*LAB ANALYSIS GROUPS
*********************************************/
.analysisContainer {
  margin-top: px-to-rem(50px);
}

.card {
margin-bottom: 30px;
  &-body {
    display: flex;
    flex-direction: column;
    align-items:stretch;
  }
}

// group icon and title
.analysisIcon {
  float:left;
  padding-right:px-to-rem(23px);
  + span {
    font-weight: 500;
    line-height: px-to-rem(40px);
    }
  }

// group description
  .card-text {
    flex-grow:1;
    border-top: 1px solid $line-color;
    clear:both;
    padding-top: 9px;
    margin-top: 6px;
    font-size: px-to-rem(14px);
    opacity: 0.8;
  }

  .btn-secondary {
    background-color: rgba(215,215,215,0.3);
    border:none;
    color: $button-grey;
    font-size: px-to-rem(13px);
    &:hover{
      background-color: $primary-color;
      color:$white-color;
    }
  }

  .clickMore {
    position:relative;
    height:40px;
  }

  .analysisNumber {
    position:absolute;
    right: 0;
    top:0;
    box-sizing: border-box;
    padding: 11px;
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(215,215,215,0.3);
    border-radius:5px;
    color:#000;
  }

  .analysisNumberHover {
    color:white;
  }

.btn-success {
  background-color: $button-green;
  border:none;
  padding:px-to-rem(11px) px-to-rem(36px);
  margin-top: px-to-rem(10px);
  margin-bottom:px-to-rem(60px);
  line-height: 23px;
  font-weight: 500;
}


/* GOOGLE MAP
*//////////////////////////////////////////////

#googleMap {
  position: relative;
  width: 100%;
}

#map {
  height: 790px;
}


// google map header
.labinfo  {
  position:absolute;
  top:0;
  left:0;
  background-color: $primary-color;
  opacity:0.8;
  height: px-to-rem(83px);
  width:100%;
}

.mapTitle {
  line-height: px-to-rem(83px);
  color:$white-color;
  font-size: px-to-rem(30px);
}

.labMapInfo {
  color:$white-color;
  font-size: px-to-rem(11px);
  text-transform: uppercase;
}

// numbers counter
.num {
  color:$white-color;
  opacity: 0;
}
.numOn {
  opacity:1;
  color:$white-color;
  font-size: px-to-rem(20px);
  font-weight: 500;
}


/* google map infowindow
***************************************************************/

#labInfoWindow {
  width: px-to-rem(310px);
  height: px-to-rem(146px);
  padding-top: px-to-rem(12px);
  padding-left: px-to-rem(12px);
}

.labInfoWindowTitle {
  font-size: 1rem;
  color:$primary-color;
  font-weight: 500;
  line-height: px-to-rem(19px);
}

.labInfoWindowFooter {
  background-color: $primary-color;
  height: px-to-rem(36px);
  position: absolute;
  bottom: px-to-rem(17px);
  left: 0;
  width: px-to-rem(333px);
  color:$white-color;
  padding-left: px-to-rem(12px);
  border-bottom-left-radius: px-to-rem(4px);
  & > .radnoVreme {
    display: inline-block;
    padding-top: px-to-rem(11px);
    font-size: px-to-rem(12px);
    font-weight: 500;
  }
  & > .status {
    display: inline-block;
    float:right;
    padding-top: px-to-rem(10px);
    padding-right: px-to-rem(12px);
    font-weight: 500;
    &::before {
      content:'';
      width: px-to-rem(10px);
      height: px-to-rem(10px);
      border-radius: px-to-rem(20px);
      background-color: $button-green;
      float:left;
      margin-right: px-to-rem(8px);
      margin-top: px-to-rem(3px);
    }
  }
}

.radnoVremeDetalji {
  display: block;
  height: px-to-rem(150px);
  top:px-to-rem(-114.4px);
  right:0;
  width:px-to-rem(110px);
  opacity: 0;
  z-index: -9;
  transition: .3s linear;
  background-color: $primary-color;
  position: absolute;
  & > p {
    display: inline-block;
    line-height: px-to-rem(18px);
    font-weight: 500;
    padding-left: px-to-rem(6px);
    margin-bottom: px-to-rem(4px);
    &.active {
      background-color: $button-green;
      width: 100%;
      color:$infoWindowContactColor;
      font-weight: 900;
    }
  & > span {
    display: inline-block;
    padding-left: px-to-rem(10px);
    }
  }
}


.labInfoWindowFooter:hover {
  cursor:pointer;
    & .radnoVremeDetalji {
        opacity: .8;
        border-top-right-radius: px-to-rem(4px);
        border-bottom-right-radius: px-to-rem(4px);
        right:-110px;
      }
}

.labInfoWindowWorkingHoursIcon {
  margin: px-to-rem(10px) px-to-rem(8px) 0 px-to-rem(4px);
  float:left;
}

.labInfoWindowVerified {
  padding-right: px-to-rem(12px);
  margin-bottom: px-to-rem(6px);
}

.labLogoInfoWindow {
  height: px-to-rem(53px);
  width: px-to-rem(48px);
  float:left;
  margin-right: px-to-rem(8px);
}

.labInfoWindowContactGroup {
  margin-top:px-to-rem(8px);
}

.labInfoWindowAdresa,
.labInfoWindowGrad,
.labInfoWindowTelefoni ,  {
  font-size: px-to-rem(13px);
  line-height: px-to-rem(17px);
  display: block;
  margin-bottom: px-to-rem(2px);
  font-weight: 500;
  color:$infoWindowContactColor;
}

.gm-style-iw {
background-color: $white-color;
border-top-left-radius: px-to-rem(4px);
border-bottom-left-radius: px-to-rem(4px);
}


/* FAQ
**************************************************************/

#faq {
  margin-top:px-to-rem(40px);
  min-height: px-to-rem(640px);
  & h2 {
    color:$primary-color;
    margin-bottom: px-to-rem(40px);
  }
}

#accordion > h5 {
    color:#042A37;
    padding: px-to-rem(16px) 0;
    padding-right: .7rem;
    border-bottom:1px solid $line-color;
    margin-bottom: 0;
    &:hover {
      cursor: pointer;
      background-color: $accordionHover;
    }
}

#accordion > div p {
  padding-top: px-to-rem(16px);
}

// faq colapsed section
#accordion > [data-toggle="collapse"].collapsed::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f0fe";
}

// faq expanded section
#accordion > [data-toggle="collapse"]::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f146";
  padding-right: 8px;
  float: right;
}

#accordion h5:last-of-type {
  border-bottom:none;
}

.fa-arrow-circle-up {
  font-size: px-to-rem(18px);
  padding-left: px-to-rem(8px);
}


/* LAB SEARCH results
************************************************************/
#results {
  margin-top: 80px;
  margin-bottom: 150px;
  .btn-success {
    margin-bottom: 0;
  }
  .btn {
    font-size: 12px;
    padding: 6px 25px;
  }
}

#details {
  @extend #results;
}

.results tr:first-child>td{
  border-top:0px;
}

// styling first td inside table with results
.results tr>td:first-child {
  max-width: 280px;
  font-weight: 500;
  cursor:pointer;
}

// set hospital icon hover cursor
.results tr>td:nth-child(4) {
  cursor:pointer;
}

// styling vertical ling between first 2 tds
.results tr>td:nth-child(2)::before {
		content:'';
		position: absolute;
		height: 63px;
		border-left: 1px solid #E1E1E1;
		padding-right: 20px;
		left:-8px;
    bottom:12px;
	}

// stylind td height and adding RSD as text after price
td {
  height: 88px;
  position: relative;
  color:$fontColorResultsTable;
  &>span {
    @include rsd(px-to-rem(37px));
  }
}

.table th, .table td {
  vertical-align: middle;
}

.table-hover tbody tr:hover td {
	background-color: $tableHover;
}

// styling odabrane analize card
.card-header {
  font-weight: 500;
  color: $cardHeader;
  background-color: $tableHover;
  padding:0 0.7rem;
  padding-top: px-to-rem(16px);
  padding-bottom: px-to-rem(8px);
  vertical-align: bottom;
  &:after{
    content:url(../images/odabraneAnalize.svg);
    float:right;
  }
}
.removeItem {
  float:right;
}

.list-group-item {
  font-size: 12px;
  color: #666;
  padding-left: 0.7rem;
}

// styling select text
.odabraneAnalize .form-control {
  padding-left: 20px;
  padding-top: 3px;
  height: 32px;
  color: $fontColorResultsTable;
  opacity: .5;
  &:hover{
    cursor: pointer;
  }
}

.form-control:focus{
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.city {
  position:relative;
}

.cityMarker {
  position:absolute;
  top:48px;
  display: inline-block;
  left:20px;
}

.labGroupIconSelectedAnalysis {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}

span.remove:hover{
  cursor:pointer;
}

// arrow colof for tooltip
.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $tooltipBorder;
}

.tooltip-inner {
  background-color: $white-color !important;
  color: $fontColorResultsTable;
  border:1px solid $tooltipBorder;
  font-size: 16px;
  max-width: 350px;
  padding: 16px;
  text-align:justify;
}


.banner {
  position:relative;
  // border:1px solid red;
  .btnBanner {
    position:absolute;
    right:10px;
    top:115px;
    font-size: 10px !important;
    padding-left:12px !important;
    padding-right:12px !important;
  }
}

.bannerTumacenjeAnaliza {
  // min-width: 255px;
  width: 100%;
  min-height: 188px;
  position: relative;
}

.bannerOverlay {
  background: url(../images/plaviOver.svg) no-repeat;
  position:absolute;
  right:0px;
  top:0;
  width: 143px;
  height: 141px;
  padding-top: 8px;
  padding-left: 40px;
  padding-right: 17px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color:$white-color;
}

/* DETAILS PAGE
***********************************************************/


.headTitle {
  font-size: px-to-rem(42px);
  font-weight: bold;
  color:$fontColorResultsTable;
  margin-bottom: 8px;
  &+ul>li {
    list-style-type: none;
    display: inline-block;
    color:$fontColorResultsTable;
    font-size: px-to-rem(16px);
    font-weight: 500;
    margin-bottom: px-to-rem(24px);
    &::after {
      content:" | ";
      color:$cardHeader;
    }
    &:last-child::after {
      content:'';
    }
  }
}

.titleDetails {
  color:$fontColorResultsTable;
  font-size: px-to-rem(20px);
  margin-top: auto;
  font-weight:500;
  position: relative;
  @include rsd(px-to-rem(4px));
}

// styling analysis text

.analysisDescription > li {
  list-style-type: none;
  margin-bottom: 25px;
  &:nth-child(1) {
    @include liItemImage('../images/opis.svg', 80px, 8px 0, )
  }
  &:nth-child(2) {
    @include liItemImage('../images/uzorak.svg', 80px)
  }
  &:nth-child(3) {
    @include liItemImage('../images/priprema.svg', 80px)
  }
  &:nth-child(4) {
    @include liItemImage('../images/detaljanOpis.svg', 80px)
  }
}

ul .sample {
  list-style-type: none;
  li {
    margin-top: 6px;
  }
  & > .serum {
    @include liItemImage('../images/serum.svg',30px);
  }
  & > .plazma {
    @include liItemImage('../images/plazma.svg',30px);
  }
}



/*FOOTER AREA
***********************************************************/
footer {
  background-image: url('../images/footer.svg');
  background-repeat: repeat-x;
  background-position:center;
  height: px-to-rem(500px);
  margin-top: px-to-rem(50px);
  position:relative;
    & > .overlay {
    background-color: $primary-color;
    height: 500px;
    position: absolute;
    left:0;
    top:0;
    opacity: 0.97;
    width: 100%;
    }
}

.logoFooter {
  margin:px-to-rem(36px) 0;
  width: px-to-rem(255px);
}

.fa-twitter,
.fa-youtube,
.fa-facebook-f,
.fa-instagram {
  color:$white-color;
  font-size: px-to-rem(29px);
  padding-right: px-to-rem(32px);
  margin-bottom: px-to-rem(41px);
}

.social a:last-child .fab:last-child {
  padding-right: 0;
}

.fab:hover {
  opacity: 0.8;
  text-decoration: none !important;
}

.analizeFooter {
  font-size: px-to-rem(13px);
  -webkit-column-count: 7; /* Chrome, Safari, Opera */
  -moz-column-count: 7; /* Firefox */
  column-count: 7;
  color: $white-color;
  margin-top: px-to-rem(15px);
  display:inline-block;
  line-height: px-to-rem(26px);
  border-right: 1px solid $white-color;
  // text-transform: capitalize;
}

.linksFooter {
  font-size: px-to-rem(13px);
  color: $white-color;
  display:inline-block;
  line-height: px-to-rem(22px);
  margin-top: px-to-rem(15px);
  line-height: px-to-rem(26px);
    & > li a:hover {
      opacity: 0.7;
    }
}

.disclaimer {
  font-size: px-to-rem(12px);
  color: $white-color;
  margin-top: px-to-rem(12px);
  margin-bottom: px-to-rem(16px);
}



@import 'media.scss';
